.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.quote-text {
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align:center;
  width: 80%;
}

.source-text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.random-button {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 24px;
  border-radius: 999px;
  border: none;
  background: white;
  color: black;
  font-size: 16px; 
}